body {
  background-image: url
}

.hidden {
  display: none;
}

#wrapper-div {
  border: 1px solid black;
  width: 1500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

#rules-view {
  margin-top: 150px;
  border: 1px solid blue;
  background-color: lightblue;
  width: 1000px;
  border-radius: 0.3em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

#game-view {
  margin-top: 150px;
  border: 1px solid red;
  background-color: pink;
  width: 1000px;
  border-radius: 0.3em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

#stats-view {
  margin-top: 150px;
  border: 1px solid green;
  background-color: lightgreen;
  width: 1000px;
  border-radius: 0.3em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}
