#container, .column div {
  border: 2pt solid black;
}

#container, .column {
  display: flex;
}

.column div {
  width: 80px;
  height: 80px;
  background-color: white;
}

.column {
  flex-direction: column;
}

#container {
  align-items: center; /* To get columns to align vertically in the middle */
  background-color: gray;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  font-size: 20pt;
  height: 500px;
  justify-content: space-between; /* To put all space in container between the two column children */
  margin: auto auto;
  text-align: center;
  width: 75%;
}

.green {
  background-color: darkgreen;
}
